In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/wine-reviews/winemag-data_first150k.csv
/kaggle/input/wine-reviews/winemag-data-130k-v2.json
/kaggle/input/wine-reviews/winemag-data-130k-v2.csv

In [2]:
print('''
Creating data
-------------

There are two core objects in pandas: the DataFrame and the Series.

A DataFrame is a table
----------------------
It contains an array of individual entries, each of which has a certain value. 
Each entry corresponds to a row (or record) and a column.

''')

Creating data
-------------

There are two core objects in pandas: the DataFrame and the Series.

A DataFrame is a table
----------------------
It contains an array of individual entries, each of which has a certain value.
Each entry corresponds to a row (or record) and a column.

In [3]:
print('''
In this example, the "0, No" entry has the value of 131. 
The "0, Yes" entry has a value of 50, and so on.
********************************************************
pd.DataFrame({'Yes': [50, 21], 'No': [131, 2]})
********************************************************
''')

pd.DataFrame({'Yes': [50, 21], 'No': [131, 2]})

In this example, the "0, No" entry has the value of 131.
The "0, Yes" entry has a value of 50, and so on.
********************************************************
pd.DataFrame({'Yes': [50, 21], 'No': [131, 2]})
********************************************************

   Yes   No
0   50  131
1   21    2

In [4]:
print('''
DataFrame entries are not limited to integers. 
For instance, here's a DataFrame whose values are strings:
******************************************************************************************
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Bland.']})
******************************************************************************************
''')

pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Bland.']})

DataFrame entries are not limited to integers.
For instance, here's a DataFrame whose values are strings:
******************************************************************************************
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Bland.']})
******************************************************************************************

             Bob           Sue
0    I liked it.  Pretty good.
1  It was awful.        Bland.

In [5]:
print('''
The list of row labels used in a DataFrame is known as an Index. 
We can assign values to it by using an index parameter in our constructor:
*********************************************************************************************
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 
              'Sue': ['Pretty good.', 'Bland.']},
             index=['Product A', 'Product B'])
*********************************************************************************************
''')

pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 
              'Sue': ['Pretty good.', 'Bland.']},
             index=['Product A', 'Product B'])

The list of row labels used in a DataFrame is known as an Index.
We can assign values to it by using an index parameter in our constructor:
*********************************************************************************************
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'],
              'Sue': ['Pretty good.', 'Bland.']},
             index=['Product A', 'Product B'])
*********************************************************************************************

                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

In [6]:
print('''
------
Series
------

A Series, by contrast, is a sequence of data values. 
If a DataFrame is a table, a Series is a list. 
And in fact you can create one with nothing more than a list.
*************************************************************
pd.Series([1, 2, 3, 4, 5])
*************************************************************

''')
pd.Series([1, 2, 3, 4, 5])

------
Series
------

A Series, by contrast, is a sequence of data values.
If a DataFrame is a table, a Series is a list.
And in fact you can create one with nothing more than a list.
*************************************************************
pd.Series([1, 2, 3, 4, 5])
*************************************************************

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [7]:
print('''
A Series is, in essence, a single column of a DataFrame. 
So you can assign row labels to the Series the same way as before, using an index parameter. 
However, a Series does not have a column name, it only has one overall name:
********************************************************************************************
pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')
********************************************************************************************
''')

pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')

A Series is, in essence, a single column of a DataFrame.
So you can assign row labels to the Series the same way as before, using an index parameter.
However, a Series does not have a column name, it only has one overall name:
********************************************************************************************
pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')
********************************************************************************************

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

In [8]:
print(
'''
The Series and the DataFrame are intimately related. 
It's helpful to think of a DataFrame as actually being just a bunch of Series "glued together". 
We'll see more of this in the next section of this tutorial.
'''
)

The Series and the DataFrame are intimately related.
It's helpful to think of a DataFrame as actually being just a bunch of Series "glued together".
We'll see more of this in the next section of this tutorial.

In [9]:
print('''

Reading data files
-------------------
Being able to create a DataFrame or Series by hand is handy. 
But, most of the time, we won't actually be creating our own data by hand. 
Instead, we'll be working with data that already exists.

Data can be stored in any of a number of different forms and formats. 
By far the most basic of these is the humble CSV file. 
When you open a CSV file you get something that looks like this:

Product A,Product B,Product C,
30,21,9,
35,34,1,
41,11,11

So a CSV file is a table of values separated by commas. Hence the name: "Comma-Separated Values", or CSV.

Let's now set aside our toy datasets and see what a real dataset looks like when we read it into a DataFrame. 
We'll use the pd.read_csv() function to read the data into a DataFrame. This goes thusly:

''')

Reading data files
-------------------
Being able to create a DataFrame or Series by hand is handy.
But, most of the time, we won't actually be creating our own data by hand.
Instead, we'll be working with data that already exists.

Data can be stored in any of a number of different forms and formats.
By far the most basic of these is the humble CSV file.
When you open a CSV file you get something that looks like this:

Product A,Product B,Product C,
30,21,9,
35,34,1,
41,11,11

So a CSV file is a table of values separated by commas. Hence the name: "Comma-Separated Values", or CSV.

Let's now set aside our toy datasets and see what a real dataset looks like when we read it into a DataFrame.
We'll use the pd.read_csv() function to read the data into a DataFrame. This goes thusly:

In [10]:
# wine_reviews: this the variable in which we have loaded the whole dataset.
wine_reviews = pd.read_csv("../input/wine-reviews/winemag-data-130k-v2.csv")

In [11]:
print('''
We can use the shape attribute to check how large the resulting DataFrame is:
wine_reviews.shape
It will print data rows and columns in the data frame loaded in to pd
wine_reviews.shape
''')
wine_reviews.shape

We can use the shape attribute to check how large the resulting DataFrame is:
wine_reviews.shape
It will print data rows and columns in the data frame loaded in to pd
wine_reviews.shape

(129971, 14)

In [12]:
print('''
So our new DataFrame has 130,000 records split across 14 different columns. 
That's almost 2 million entries!
We can examine the contents of the resultant DataFrame using the head() command, which grabs the first five rows:
''')

So our new DataFrame has 130,000 records split across 14 different columns.
That's almost 2 million entries!
We can examine the contents of the resultant DataFrame using the head() command, which grabs the first five rows:

In [13]:
wine_reviews.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [14]:
print('''
The pd.read_csv() function is well-endowed, with over 30 optional parameters you can specify. 
For example, you can see in this dataset that the CSV file has a built-in index, 
which pandas did not pick up on automatically. 
To make pandas use that column for the index (instead of creating a new one from scratch), we can specify an index_col.
''')
print('''
***********************************************************************************************************************
by using index_col=0 the additional column unamed is not loaded into the data as it was when we load the data with


wine_reviews = pd.read_csv("../input/wine-reviews/winemag-data-130k-v2.csv")
************************************************************************************************************************
''')


wine_reviews = pd.read_csv("../input/wine-reviews/winemag-data-130k-v2.csv", index_col=0)
wine_reviews.head()

The pd.read_csv() function is well-endowed, with over 30 optional parameters you can specify.
For example, you can see in this dataset that the CSV file has a built-in index,
which pandas did not pick up on automatically.
To make pandas use that column for the index (instead of creating a new one from scratch), we can specify an index_col.


***********************************************************************************************************************
by using index_col=0 the additional column unamed is not loaded into the data as it was when we load the data with


wine_reviews = pd.read_csv("../input/wine-reviews/winemag-data-130k-v2.csv")
************************************************************************************************************************

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [15]:
'''# you can write output of your dataframe by using the below'''
'''#dataframe_name.to_csv("file_name.csv")'''

'#dataframe_name.to_csv("file_name.csv")'

In [16]:
print('''
In Python, we can access the property of an object by accessing it as an attribute. 
A book object, for example, might have a title property, which we can access by calling book.title. 
Columns in a pandas DataFrame work in much the same way.
Hence to access the country property of reviews we can use:
----------------------------------------------------------------------------------------------------
wine_reviews.country
****************************************************************************************************
''')
wine_reviews.country

In Python, we can access the property of an object by accessing it as an attribute.
A book object, for example, might have a title property, which we can access by calling book.title.
Columns in a pandas DataFrame work in much the same way.
Hence to access the country property of reviews we can use:
----------------------------------------------------------------------------------------------------
wine_reviews.country
****************************************************************************************************

0            Italy
1         Portugal
2               US
3               US
4               US
            ...
129966     Germany
129967          US
129968      France
129969      France
129970      France
Name: country, Length: 129971, dtype: object

In [17]:
print(
'''
we can do the same with the following:
wine_reviews['country']
''')
wine_reviews['country']

we can do the same with the following:
wine_reviews['country']

0            Italy
1         Portugal
2               US
3               US
4               US
            ...
129966     Germany
129967          US
129968      France
129969      France
129970      France
Name: country, Length: 129971, dtype: object

In [18]:
print('''
The above method is used or useful if we have column name have space in their name
By using below you can access first index value in Country column
wine_reviews['country'][0]
************************************************************************************


''')
wine_reviews['country'][0]

The above method is used or useful if we have column name have space in their name
By using below you can access first index value in Country column
wine_reviews['country'][0]
************************************************************************************

'Italy'

In [19]:
print('''
Index-based selection
----------------------
Pandas indexing works in one of two paradigms. 
The first is index-based selection: selecting data based on its numerical position in the data. 
iloc follows this paradigm.

To select the first row of data in a DataFrame, we may use the following:
wine_reviews.iloc[0]
****************************

''')

wine_reviews.iloc[0]

Index-based selection
----------------------
Pandas indexing works in one of two paradigms.
The first is index-based selection: selecting data based on its numerical position in the data.
iloc follows this paradigm.

To select the first row of data in a DataFrame, we may use the following:
wine_reviews.iloc[0]
****************************

country                                                              Italy
description              Aromas include tropical fruit, broom, brimston...
designation                                                   Vulkà Bianco
points                                                                  87
price                                                                  NaN
province                                                 Sicily & Sardinia
region_1                                                              Etna
region_2                                                               NaN
taster_name                                                  Kerin O’Keefe
taster_twitter_handle                                         @kerinokeefe
title                                    Nicosia 2013 Vulkà Bianco  (Etna)
variety                                                        White Blend
winery                                                             Nicosia
Name: 0, dtype: object

In [20]:
print('''
Both loc and iloc are row-first, column-second. 
This is the opposite of what we do in native Python, which is column-first, row-second.
This means that it's marginally easier to retrieve rows, and marginally harder to get retrieve columns. 
To get a column with iloc, we can do the following:
wine_reviews.iloc[:, 0]
*******************************************************************************************************

''')
wine_reviews.iloc[:, 0]

Both loc and iloc are row-first, column-second.
This is the opposite of what we do in native Python, which is column-first, row-second.
This means that it's marginally easier to retrieve rows, and marginally harder to get retrieve columns.
To get a column with iloc, we can do the following:
wine_reviews.iloc[:, 0]
*******************************************************************************************************

0            Italy
1         Portugal
2               US
3               US
4               US
            ...
129966     Germany
129967          US
129968      France
129969      France
129970      France
Name: country, Length: 129971, dtype: object

In [21]:
print('''
On its own, the : operator, which also comes from native Python, means "everything". 
When combined with other selectors, however, it can be used to indicate a range of values. 
For example, to select the country column from just the first, second, and third row, we would do:
wine_reviews.iloc[:3, 0]
**************************************************************************************************


''')
wine_reviews.iloc[:3, 0]

On its own, the : operator, which also comes from native Python, means "everything".
When combined with other selectors, however, it can be used to indicate a range of values.
For example, to select the country column from just the first, second, and third row, we would do:
wine_reviews.iloc[:3, 0]
**************************************************************************************************

0       Italy
1    Portugal
2          US
Name: country, dtype: object

In [22]:
print('''
Or, to select just the second and third entries, we would do:
wine_reviews.iloc[1:3, 0]
*********************************

''')
wine_reviews.iloc[1:3, 0]

Or, to select just the second and third entries, we would do:
wine_reviews.iloc[1:3, 0]
*********************************

1    Portugal
2          US
Name: country, dtype: object

In [23]:
print('''
It's also possible to pass a list:
wine_reviews.iloc[[0, 1, 2], 0]
**********************************

''')
wine_reviews.iloc[[0, 1, 2], 0]

It's also possible to pass a list:
wine_reviews.iloc[[0, 1, 2], 0]
**********************************

0       Italy
1    Portugal
2          US
Name: country, dtype: object

In [24]:
print('''
Finally, it's worth knowing that negative numbers can be used in selection. 
This will start counting forwards from the end of the values. 
So for example here are the last five elements of the dataset.
wine_reviews.iloc[-5:]
***************************************************************************
''')
wine_reviews.iloc[-5:]

Finally, it's worth knowing that negative numbers can be used in selection.
This will start counting forwards from the end of the values.
So for example here are the last five elements of the dataset.
wine_reviews.iloc[-5:]
***************************************************************************

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
129966,Germany,Notes of honeysuckle and cantaloupe sweeten th...,Brauneberger Juffer-Sonnenuhr Spätlese,90,28.0,Mosel,NaN,NaN,Anna Lee C. Iijima,NaN,Dr. H. Thanisch (Erben Müller-Burggraef) 2013 ...,Riesling,Dr. H. Thanisch (Erben Müller-Burggraef)
129967,US,Citation is given as much as a decade of bottl...,NaN,90,75.0,Oregon,Oregon,Oregon Other,Paul Gregutt,@paulgwine,Citation 2004 Pinot Noir (Oregon),Pinot Noir,Citation
129968,France,Well-drained gravel soil gives this wine its c...,Kritt,90,30.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Gresser 2013 Kritt Gewurztraminer (Als...,Gewürztraminer,Domaine Gresser
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit

In [25]:
print('''
Label-based selection
---------------------
The second paradigm for attribute selection is the one followed by the loc operator: 
label-based selection. In this paradigm, it's the data index value, not its position, which matters.
For example, to get the first entry in reviews, we would now do the following:
*************************
wine_reviews.loc[0, 'country']
*************************


''')
wine_reviews.loc[0, 'country']

Label-based selection
---------------------
The second paradigm for attribute selection is the one followed by the loc operator:
label-based selection. In this paradigm, it's the data index value, not its position, which matters.
For example, to get the first entry in reviews, we would now do the following:
*************************
wine_reviews.loc[0, 'country']
*************************

'Italy'

In [26]:
print('''
iloc is conceptually simpler than loc because it ignores the dataset's indices. 
When we use iloc we treat the dataset like a big matrix (a list of lists), 
one that we have to index into by position. 
loc, by contrast, uses the information in the indices to do its work. 
Since your dataset usually has meaningful indices, it's usually easier to do things using loc instead. 
For example, here's one operation that's much easier using loc:
wine_reviews.loc[:, ['taster_name', 'taster_twitter_handle', 'points']]


''')
wine_reviews.loc[:, ['taster_name', 'taster_twitter_handle', 'points']]

iloc is conceptually simpler than loc because it ignores the dataset's indices.
When we use iloc we treat the dataset like a big matrix (a list of lists),
one that we have to index into by position.
loc, by contrast, uses the information in the indices to do its work.
Since your dataset usually has meaningful indices, it's usually easier to do things using loc instead.
For example, here's one operation that's much easier using loc:
wine_reviews.loc[:, ['taster_name', 'taster_twitter_handle', 'points']]

               taster_name taster_twitter_handle  points
0            Kerin O’Keefe          @kerinokeefe      87
1               Roger Voss            @vossroger      87
2             Paul Gregutt           @paulgwine       87
3       Alexander Peartree                   NaN      87
4             Paul Gregutt           @paulgwine       87
...                    ...                   ...     ...
129966  Anna Lee C. Iijima                   NaN      90
129967        Paul Gregutt           @paulgwine       90
129968          Roger Voss            @vossroger      90
129969          Roger Voss            @vossroger      90
129970          Roger Voss            @vossroger      90

[129971 rows x 3 columns]

In [27]:
print('''

Choosing between loc and iloc
-------------------------------
When choosing or transitioning between loc and iloc, 
there is one "gotcha" worth keeping in mind,
which is that the two methods use slightly different indexing schemes.

iloc uses the Python stdlib indexing scheme, 
where the first element of the range is included and the last one excluded. 
So 0:10 will select entries 0,...,9. loc, meanwhile, indexes inclusively. So 0:10 will select entries 0,...,10.

Why the change? Remember that loc can index any stdlib type: strings, for example. 
If we have a DataFrame with index values Apples, ..., Potatoes, ..., and 
we want to select "all the alphabetical fruit choices between Apples and Potatoes", 
then it's a lot more convenient to index df.loc['Apples':'Potatoes'] 
than it is to index something like df.loc['Apples', 'Potatoet'] (t coming after s in the alphabet).

This is particularly confusing when the DataFrame index is a simple numerical list, e.g. 0,...,1000. 
In this case df.iloc[0:1000] will return 1000 entries, while df.loc[0:1000] return 1001 of them! 
To get 1000 elements using loc, you will need to go one lower and ask for df.loc[0:999].

Otherwise, the semantics of using loc are the same as those for iloc.
Manipulating the index

Label-based selection derives its power from the labels in the index. Critically, the index we use is not immutable. We can manipulate the index in any way we see fit.

The set_index() method can be used to do the job. Here is what happens when we set_index to the title field:
*******************************
wine_reviews.set_index("title")
*******************************

''')
wine_reviews.set_index("title")

Choosing between loc and iloc
-------------------------------
When choosing or transitioning between loc and iloc,
there is one "gotcha" worth keeping in mind,
which is that the two methods use slightly different indexing schemes.

iloc uses the Python stdlib indexing scheme,
where the first element of the range is included and the last one excluded.
So 0:10 will select entries 0,...,9. loc, meanwhile, indexes inclusively. So 0:10 will select entries 0,...,10.

Why the change? Remember that loc can index any stdlib type: strings, for example.
If we have a DataFrame with index values Apples, ..., Potatoes, ..., and
we want to select "all the alphabetical fruit choices between Apples and Potatoes",
then it's a lot more convenient to index df.loc['Apples':'Potatoes']
than it is to index something like df.loc['Apples', 'Potatoet'] (t coming after s in the alphabet).

This is particularly confusing when the DataFrame index is a simple numerical list, e.g. 0,...,1000.
In this case df.iloc[0:1000] will return 1000 entries, while df.loc[0:1000] return 1001 of them!
To get 1000 elements using loc, you will need to go one lower and ask for df.loc[0:999].

Otherwise, the semantics of using loc are the same as those for iloc.
Manipulating the index

Label-based selection derives its power from the labels in the index. Critically, the index we use is not immutable. We can manipulate the index in any way we see fit.

The set_index() method can be used to do the job. Here is what happens when we set_index to the title field:
*******************************
wine_reviews.set_index("title")
*******************************

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,variety,winery
title,,,,,,,,,,,,
Nicosia 2013 Vulkà Bianco (Etna),Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,White Blend,Nicosia
Quinta dos Avidagos 2011 Avidagos Red (Douro),Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Portuguese Red,Quinta dos Avidagos
Rainstorm 2013 Pinot Gris (Willamette Valley),US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Pinot Gris,Rainstorm
St. Julian 2013 Reserve Late Harvest Riesling (Lake Michigan Shore),US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,Riesling,St. Julian
Sweet Cheeks 2012 Vintner's Reserve Wild Child Block Pinot Noir (Willamette Valley),US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Pinot Noir,Sweet Cheeks
...,...,...,...,...,...,...,...,...,...,...,...,...
Dr. H. Thanisch (Erben Müller-Burggraef) 2013 Brauneberger Juffer-Sonnenuhr Spätlese Riesling (Mosel),Germany,Notes of honeysuckle and cantaloupe sweeten th...,Brauneberger Juffer-Sonnenuhr Spätlese,90,28.0,Mosel,NaN,NaN,Anna Lee C. Iijima,NaN,Riesling,Dr. H. Thanisch (Erben Müller-Burggraef)
Citation 2004 Pinot Noir (Oregon),US,Citation is given as much as a decade of bottl...,NaN,90,75.0,Oregon,Oregon,Oregon Other,Paul Gregutt,@paulgwine,Pinot Noir,Citation
Domaine Gresser 2013 Kritt Gewurztraminer (Alsace),France,Well-drained gravel soil gives this wine its c...,Kritt,90,30.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Gewürztraminer,Domaine Gresser
Domaine Marcel Deiss 2012 Pinot Gris (Alsace),France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Pinot Gris,Domaine Marcel Deiss
Domaine Schoffit 2012 Lieu-dit Harth Cuvée Caroline Gewurztraminer (Alsace),France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Gewürztraminer,Domaine Schoffit

In [28]:
'''Conditional selection'''

'Conditional selection'