In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/wine-reviews/winemag-data_first150k.csv
/kaggle/input/wine-reviews/winemag-data-130k-v2.json
/kaggle/input/wine-reviews/winemag-data-130k-v2.csv

In [2]:
print('''
Creating data
-------------

There are two core objects in pandas: the DataFrame and the Series.

A DataFrame is a table
----------------------
It contains an array of individual entries, each of which has a certain value. 
Each entry corresponds to a row (or record) and a column.

''')

Creating data
-------------

There are two core objects in pandas: the DataFrame and the Series.

A DataFrame is a table
----------------------
It contains an array of individual entries, each of which has a certain value.
Each entry corresponds to a row (or record) and a column.

In [3]:
print('''
In this example, the "0, No" entry has the value of 131. 
The "0, Yes" entry has a value of 50, and so on.
********************************************************
pd.DataFrame({'Yes': [50, 21], 'No': [131, 2]})
********************************************************
''')

pd.DataFrame({'Yes': [50, 21], 'No': [131, 2]})

In this example, the "0, No" entry has the value of 131.
The "0, Yes" entry has a value of 50, and so on.
********************************************************
pd.DataFrame({'Yes': [50, 21], 'No': [131, 2]})
********************************************************

   Yes   No
0   50  131
1   21    2

In [4]:
print('''
DataFrame entries are not limited to integers. 
For instance, here's a DataFrame whose values are strings:
******************************************************************************************
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Bland.']})
******************************************************************************************
''')

pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Bland.']})

DataFrame entries are not limited to integers.
For instance, here's a DataFrame whose values are strings:
******************************************************************************************
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Bland.']})
******************************************************************************************

             Bob           Sue
0    I liked it.  Pretty good.
1  It was awful.        Bland.

In [5]:
print('''
The list of row labels used in a DataFrame is known as an Index. 
We can assign values to it by using an index parameter in our constructor:
*********************************************************************************************
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 
              'Sue': ['Pretty good.', 'Bland.']},
             index=['Product A', 'Product B'])
*********************************************************************************************
''')

pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 
              'Sue': ['Pretty good.', 'Bland.']},
             index=['Product A', 'Product B'])

The list of row labels used in a DataFrame is known as an Index.
We can assign values to it by using an index parameter in our constructor:
*********************************************************************************************
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'],
              'Sue': ['Pretty good.', 'Bland.']},
             index=['Product A', 'Product B'])
*********************************************************************************************

                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

In [6]:
print('''
------
Series
------

A Series, by contrast, is a sequence of data values. 
If a DataFrame is a table, a Series is a list. 
And in fact you can create one with nothing more than a list.
*************************************************************
pd.Series([1, 2, 3, 4, 5])
*************************************************************

''')
pd.Series([1, 2, 3, 4, 5])

------
Series
------

A Series, by contrast, is a sequence of data values.
If a DataFrame is a table, a Series is a list.
And in fact you can create one with nothing more than a list.
*************************************************************
pd.Series([1, 2, 3, 4, 5])
*************************************************************

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [7]:
print('''
A Series is, in essence, a single column of a DataFrame. 
So you can assign row labels to the Series the same way as before, using an index parameter. 
However, a Series does not have a column name, it only has one overall name:
********************************************************************************************
pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')
********************************************************************************************
''')

pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')

A Series is, in essence, a single column of a DataFrame.
So you can assign row labels to the Series the same way as before, using an index parameter.
However, a Series does not have a column name, it only has one overall name:
********************************************************************************************
pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')
********************************************************************************************

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

In [8]:
print(
'''
The Series and the DataFrame are intimately related. 
It's helpful to think of a DataFrame as actually being just a bunch of Series "glued together". 
We'll see more of this in the next section of this tutorial.
'''
)

The Series and the DataFrame are intimately related.
It's helpful to think of a DataFrame as actually being just a bunch of Series "glued together".
We'll see more of this in the next section of this tutorial.

In [9]:
print('''

Reading data files
-------------------
Being able to create a DataFrame or Series by hand is handy. 
But, most of the time, we won't actually be creating our own data by hand. 
Instead, we'll be working with data that already exists.

Data can be stored in any of a number of different forms and formats. 
By far the most basic of these is the humble CSV file. 
When you open a CSV file you get something that looks like this:

Product A,Product B,Product C,
30,21,9,
35,34,1,
41,11,11

So a CSV file is a table of values separated by commas. Hence the name: "Comma-Separated Values", or CSV.

Let's now set aside our toy datasets and see what a real dataset looks like when we read it into a DataFrame. 
We'll use the pd.read_csv() function to read the data into a DataFrame. This goes thusly:

''')

Reading data files
-------------------
Being able to create a DataFrame or Series by hand is handy.
But, most of the time, we won't actually be creating our own data by hand.
Instead, we'll be working with data that already exists.

Data can be stored in any of a number of different forms and formats.
By far the most basic of these is the humble CSV file.
When you open a CSV file you get something that looks like this:

Product A,Product B,Product C,
30,21,9,
35,34,1,
41,11,11

So a CSV file is a table of values separated by commas. Hence the name: "Comma-Separated Values", or CSV.

Let's now set aside our toy datasets and see what a real dataset looks like when we read it into a DataFrame.
We'll use the pd.read_csv() function to read the data into a DataFrame. This goes thusly:

In [10]:
wine_reviews = pd.read_csv("../input/wine-reviews/winemag-data-130k-v2.csv")

In [11]:
print('''
We can use the shape attribute to check how large the resulting DataFrame is:
wine_reviews.shape

''')
wine_reviews.shape

We can use the shape attribute to check how large the resulting DataFrame is:
wine_reviews.shape

(129971, 14)