In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [2]:
print('''
Creating data
-------------

There are two core objects in pandas: the DataFrame and the Series.
DataFrame

A DataFrame is a table
----------------------
It contains an array of individual entries, each of which has a certain value. 
Each entry corresponds to a row (or record) and a column.

''')

Creating data
-------------

There are two core objects in pandas: the DataFrame and the Series.
DataFrame

A DataFrame is a table
----------------------
It contains an array of individual entries, each of which has a certain value.
Each entry corresponds to a row (or record) and a column.

In [3]:
pd.DataFrame({'Yes': [50, 21], 'No': [131, 2]})

print('''
In this example, the "0, No" entry has the value of 131. 
The "0, Yes" entry has a value of 50, and so on.
''')

In this example, the "0, No" entry has the value of 131.
The "0, Yes" entry has a value of 50, and so on.

In [4]:
print('''
DataFrame entries are not limited to integers. 
For instance, here's a DataFrame whose values are strings:
''')

pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Bland.']})

DataFrame entries are not limited to integers.
For instance, here's a DataFrame whose values are strings:

             Bob           Sue
0    I liked it.  Pretty good.
1  It was awful.        Bland.